/* ================ FOOTER */
footer {
    background-color: black;
    padding: 25px 0;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    color: rgb(208, 208, 208);
    font-weight: 500;
  }
  
  /* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                        Mini Laptop (lg)
       $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
  @media (max-width: 1024px) {
  }
  
  /* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                      Tablet (md)
      $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
  @media (max-width: 981px) {
  }
  
  /* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                      Phones (sm)
      $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
  @media (max-width: 576px) {
  }